@page "/"

<PageTitle>Multiplication Table</PageTitle>

@if (currentQuestion != null)
{
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="d-flex align-items-center h-100">
            <h5 class="text-nowrap mb-0">
                @currentQuestion.Question
            </h5>
            <input @ref="AnswerField" type="tel" @bind="@currentQuestion.Answer" style="width:60px" class="form-control mx-2" autofocus />

        </div>
        <button class="btn btn-primary mt-auto mb-2 w-100" @onkeydown="@Enter" @onclick="Next">Next</button>
        <button @onclick="CalcResult">CalcResult</button>
    </div>
    <nav class="navbar sticky-bottom bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sticky bottom</a>
        </div>
    </nav>
}

@if (showResults)
{
    <ApexChart TItem="AnswerResult"
           Title="Result">

        <ApexPointSeries TItem="AnswerResult"
                     Items="AnswerResults"
                     Name="Gross Value"
                     SeriesType="SeriesType.Pie"
                     XValue="@(e => e.Title)"
                     YAggregate="@(e => e.Sum(e => e.Count))"
                     OrderByDescending="e=>e.Y"
                     PointColor="e=> GetPointColor(e)" ShowDataLabels />
    </ApexChart>
}

