@page "/"

<PageTitle>Multiplication Table</PageTitle>

@if (currentQuestion != null)
{
    <div class="d-flex">
        <div class="text-nowrap">
            @currentQuestion.Question
        </div>
        <input @ref="MyProperty" type="tel" @bind="@currentQuestion.Answer" style="width:60px" class="form-control mx-2" autofocus />
    </div>
    <button class="btn btn-primary w-100" @onkeydown="@Enter" @onclick="Next">Next</button>
    <br />
    <button @onclick="Skip">Skip</button>
    <button @onclick="CalcResult">CalcResult</button>
}

@if (showResults)
{
    <h4>Результат:</h4>
    <div>
        @questions.Select(x=>x.IsCorrect).Count()  <span>+</span>
        @questions.Select(x=>x.IsCorrect == false).Count()  <span>-</span>


    </div>
}

