@page "/"
@using MultiplicationTable.Models;

<PageTitle>Multiplication Table</PageTitle>

@if (CurrentQuestion != null)
{
    <div class="d-flex justify-content-center p-3 mt-5">
        <div class="d-flex align-items-center h-100">
            <h5 class="text-nowrap mb-0 me-2">
                @CurrentQuestion.Question
            </h5>
            <input @ref="AnswerField" type="text" inputmode="decimal" class="form-control form-control-lg" @bind="@CurrentQuestion.Answer" style="width:60px" />
        </div>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
        </div>
        <hr />
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 25%"></div>
        </div>
        <button id="next" class="btn btn-primary btn-lg" @onclick="Next">Next</button>
    </div>
}

@if (ShowResults)
{
    <div class="my-3">
        <h5>Current date: @DateTime.Now</h5>
        <h5>Elapsed time: @CalcElapsedTime()</h5>
        <h5>Correct answers: <span class="text-success">@Questions.Where(x => x.IsCorrect == true).Count()</span></h5>
        <h5>Incorrect answers: <span class="text-danger">@Questions.Where(x => x.IsCorrect == false).Count()</span></h5>
    </div>

    <ApexChart TItem="AnswerResultModel"
               Title="">

        <ApexPointSeries TItem="AnswerResultModel"
                         Items="AnswerResults"
                         Name="Gross Value"
                         SeriesType="SeriesType.Pie"
                         XValue="@(e => e.Title)"
                         YAggregate="@(e => e.Sum(e => e.Count))"
                         OrderByDescending="e=>e.Y"
                         PointColor="e=> GetPointColor(e)" />
    </ApexChart>
    <button class="btn btn-dark w-100" onclick="shareResult">Share</button>
}